body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden; /* Para esconder a barra de rolagem padrão */
}

.container {
    text-align: center;
    position: relative;
    z-index: 1;
}

h1 {
    color: #fff; /* Cor do texto para destacar no fundo */
}

#countdown {
    font-size: 2em;
    color: #007BFF;
}

/* Fundo interativo */
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(8px);
    transform: scale(1.2);
}